.sign-in-form {
	background-color: white;
    padding: 20px 50px;
    margin: 136px 418px;
    width: 400px;
    height: 317px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.login-heading {
	font-family: Arial;
	text-align: center;
}
.login-terms {
	font-size: small;
}

.remember-me {
	position: absolute;
	display: flex;
	width: 10px;
	left: 595px;
	text-align: center;
	flex-direction: row;
	justify-content: center;
}
.error-message {
	color: red
}

.remember-me-label {
	position: absolute;
	width: 134px;
	left: 12px;
	margin-top: -19px;
}

.login-user-input {
	width: 100%;
	padding: 15px 15px;
	margin: 5px 0;
	border: 1px solid rgb(194, 189, 189);
	border-radius: 4px;
	box-sizing: border-box;
}

h2 {
	font-family: Arial;
	text-align: center;
}

/* div {
	padding-bottom: 5px;
} */

button {
	width: 100%;
	font-weight: bold;
	background-color: #4016d1;
	color: white;
	padding: 15px 20px;
	margin: 20px 0;
	border: none;
	border-radius: 4px;
}